<div class="card">
    <div class="card-body">
        <h5 class="card-title">Datos del Docente</h5>

        <!-- Default Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link text-success active" id="paso1-tab" data-bs-toggle="tab" data-bs-target="#paso1" type="button"
                    role="tab" aria-controls="paso1" aria-selected="true"><i class="fa fa-check-circle  "></i> Datos Personales <sup>1</sup></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-black-50" id="paso2-tab" data-bs-toggle="tab" data-bs-target="#paso2" type="button"
                    role="tab" aria-controls="paso2" aria-selected="false" tabindex="-1"><i class="fa fa-exclamation-circle  "></i> Direcciones <sup>2</sup></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-black-50" id="paso3-tab" data-bs-toggle="tab" data-bs-target="#paso3" type="button"
                    role="tab" aria-controls="paso3" aria-selected="false" tabindex="-1"><i class="fa fa-exclamation-circle  "></i> Datos de Empleo <sup>3</sup></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-black-50" id="paso4-tab" data-bs-toggle="tab" data-bs-target="#paso4" type="button"
                    role="tab" aria-controls="paso4" aria-selected="false" tabindex="-1"><i class="fa fa-exclamation-circle  "></i> Datos de Pago <sup>4</sup></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-black-50" id="paso5-tab" data-bs-toggle="tab" data-bs-target="#paso5" type="button"
                    role="tab" aria-controls="paso5" aria-selected="false" tabindex="-1"><i class="fa fa-exclamation-circle  "></i> Contactos de Emergencia <sup>5</sup></button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="myTabContent">
            <div class="tab-pane fade show active" id="paso1" role="tabpanel" aria-labelledby="paso1-tab">
                <form [formGroup]="datosPersonalesForm" (ngSubmit)="guardarDatosPersonales()">
                    <div class="row justify-content-center mt-3">
                        <div class="col col-12 col-sm-12 col-md-5 col-lg-4">
                            <div class="pt-5 text-center" >
                                <div alt="" style="margin: auto;background-image: url('assets/user_profile.jpg');border-radius: 100%;background-size: cover;background-repeat: no-repeat;background-position: center center;background-color: #efefef;width: 170px;height: 170px;border: var(--bs-border-width) solid var(--bs-border-color);border-radius: 100%;"></div>
                                <input name="foto" class="form-control mt-2" type="file" id="formFile">
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-1 col-lg-1">
                            &nbsp;
                        </div>
                        <div class="col col-12 col-sm-12 col-md-5 col-lg-5">
                            <div class="pt-3">
                                <label for="nombre">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Nombre <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <input name="nombre" class="form-control" type="text" placeholder="Nombre" style="text-transform: uppercase;">
                            </div>
                            <div class="row">
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="pt-3">
                                        <label for="primer_apellido">
                                            <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Primer apellido <span class="text-danger" style="font-weight: bold;">*</span>
                                        </label>
                                        <input name="primerApellido" class="form-control" type="text" placeholder="Primer apellido" style="text-transform: uppercase;">
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="pt-3">
                                        <label for="segundo_apellido">
                                            <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Segundo apellido
                                        </label>
                                        <input name="segundoApellido" class="form-control" type="text" placeholder="Segundo apellido" style="text-transform: uppercase;">
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="pt-3">
                                        <label for="rfc">
                                            <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;RFC <span class="text-danger" style="font-weight: bold;">*</span>
                                        </label>
                                        <input name="rfc" class="form-control" type="text" placeholder="RFC" style="text-transform: uppercase;">
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="pt-3">
                                        <label for="curp">
                                            <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;CURP <span class="text-danger" style="font-weight: bold;">*</span>
                                        </label>
                                        <input name="curp" class="form-control" type="text" placeholder="CURP" style="text-transform: uppercase;">
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="pt-3">
                                        <label for="catSexoId">
                                            <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Sexo <span class="text-danger" style="font-weight: bold;">*</span>
                                        </label>
                                        <select name="catSexoId" class="form-select">
                                            <option value="">-- Selecciona --</option>
                                            <option value="M">Mujer</option>
                                            <option value="H">Hombre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="pt-3">
                                        <label for="catEstadoCivilId">
                                            <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Estado civil <span class="text-danger" style="font-weight: bold;">*</span>
                                        </label>
                                        <select name="catEstadoCivilId" class="form-select">
                                            <option value="">-- Selecciona --</option>
                                            <option value="soltero">Soltero(a)</option>
                                            <option value="casado">Casado(a)</option>
                                            <option value="union_libre">Unión libre</option>
                                            <option value="divorciado">Divorciado(a)</option>
                                            <option value="viudo">Viudo(a)</option>
                                            <option value="separado">Separado(a)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary mt-5 mb-4"><i class="fa fa-bookmark me-1"></i> Guardar</button>

                            <!-- <div class="pt-3">
                                <label for="qnaini">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Quincena ingreso <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <input name="qnaini" class="form-control" type="text" placeholder="Quincena ingreso">
                            </div>
                            <div class="pt-3">
                                <label for="qnagob">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Quincena gobierno <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <input name="qnagob" class="form-control" type="text" placeholder="Quincena gobierno">
                            </div>
                            <div class="pt-3">
                                <label for="qnasep">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Quincena SEP <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <input name="qnasep" class="form-control" type="text" placeholder="Quincena SEP">
                            </div>
                            <div class="pt-3">
                                <label for="perfil">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Perfil <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <input name="perfil" class="form-control" type="text" placeholder="Perfil">
                            </div>
                            <div class="pt-3">
                                <label for="nss">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;NSS <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <input name="nss" class="form-control" type="text" placeholder="NSS">
                            </div>

                            <div class="pt-3">
                                <label for="catRegimenId">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Regimen <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <select name="catRegimenId" class="form-select">
                                    <option value="">-- Selecciona --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="pt-3">
                                <label for="catTipoContratacionId">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Tipo contratación <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <select name="catTipoContratacionId" class="form-select">
                                    <option value="">-- Selecciona --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="pt-3">
                                <label for="nivelAcademicoId">
                                    <i class="fa fa-info-circle fa-1 text-primary" aria-hidden="true" title="Información" ></i>&nbsp;Nivel academico <span class="text-danger" style="font-weight: bold;">*</span>
                                </label>
                                <input name="nivelAcademicoId" class="form-control" type="text" placeholder="Nivel academico">
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="paso2" role="tabpanel" aria-labelledby="paso2-tab">
                Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio
                omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil
                recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
            </div>
            <div class="tab-pane fade" id="paso3" role="tabpanel" aria-labelledby="paso3-tab">
                Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam
                perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum
                iure. Dignissimos fuga tempore dolor.
            </div>
        </div><!-- End Default Tabs -->

    </div>
</div>