<div class="card">
    <div class="card-body">
        <h5 class="card-title">Default Tabs</h5>

        <!-- Default Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="paso1-tab" data-bs-toggle="tab" data-bs-target="#paso1" type="button"
                    role="tab" aria-controls="paso1" aria-selected="true">⭕ paso1</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="paso2-tab" data-bs-toggle="tab" data-bs-target="#paso2" type="button"
                    role="tab" aria-controls="paso2" aria-selected="false" tabindex="-1">⭕ paso2</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="paso3-tab" data-bs-toggle="tab" data-bs-target="#paso3" type="button"
                    role="tab" aria-controls="paso3" aria-selected="false" tabindex="-1">⭕ paso3</button>
            </li>
        </ul>
        <div class="tab-content pt-2" id="myTabContent">
            <div class="tab-pane fade show active" id="paso1" role="tabpanel" aria-labelledby="paso1-tab">
                <form [formGroup]="datosPersonalesForm">
                    <div class="row">
                        <div class="col col-6">
                            <img src="" alt="" style="background-color: gray;width: 120px;height: 120px;">
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="col col-6">
                            <div class="">
                                <label for="nombre">
                                    <span title="informacion">ℹ️</span> Nombre <span class="text-danger">*</span>
                                </label>
                                <input name="nombre" class="form-control" type="text" placeholder="Nombre">
                            </div>
                            <div class="pt-2">
                                <label for="primer_apellido">
                                    <span title="informacion">ℹ️</span> Primer apellido <span class="text-danger">*</span>
                                </label>
                                <input name="primerApellido" class="form-control" type="text" placeholder="Primer apellido">
                            </div>
                            <div class="pt-2">
                                <label for="segundo_apellido">
                                    <span title="informacion">ℹ️</span> Segundo apellido <span class="text-danger">*</span>
                                </label>
                                <input name="segundoApellido" class="form-control" type="text" placeholder="Segundo apellido">
                            </div>
                            <div class="pt-2">
                                <label for="rfc">
                                    <span title="informacion">ℹ️</span> RFC <span class="text-danger">*</span>
                                </label>
                                <input name="rfc" class="form-control" type="text" placeholder="RFC">
                            </div>
                            <div class="pt-2">
                                <label for="curp">
                                    <span title="informacion">ℹ️</span> CURP <span class="text-danger">*</span>
                                </label>
                                <input name="curp" class="form-control" type="text" placeholder="CURP">
                            </div>
                            <div class="pt-2">
                                <label for="catSexoId">
                                    <span title="informacion">ℹ️</span> Sexo <span class="text-danger">*</span>
                                </label>
                                <select name="catSexoId" class="form-select">
                                    <option value="">-- Selecciona --</option>
                                    <option value="M">Mujer</option>
                                    <option value="H">Hombre</option>
                                </select>
                            </div>
                            <div class="pt-2">
                                <label for="catEstadoCivilId">
                                    <span title="informacion">ℹ️</span> Estado civil <span class="text-danger">*</span>
                                </label>
                                <select name="catEstadoCivilId" class="form-select">
                                    <option value="">-- Selecciona --</option>
                                    <option value="soltero">Soltero(a)</option>
                                    <option value="casado">Casado(a)</option>
                                    <option value="union_libre">Unión libre</option>
                                    <option value="divorciado">Divorciado(a)</option>
                                    <option value="viudo">Viudo(a)</option>
                                    <option value="separado">Separado(a)</option>
                                </select>
                            </div>

                            <div class="pt-2">
                                <label for="qnaini">
                                    <span title="informacion">ℹ️</span> Quincena ingreso <span class="text-danger">*</span>
                                </label>
                                <input name="qnaini" class="form-control" type="text" placeholder="Quincena ingreso">
                            </div>
                            <div class="pt-2">
                                <label for="qnagob">
                                    <span title="informacion">ℹ️</span> Quincena gobierno <span class="text-danger">*</span>
                                </label>
                                <input name="qnagob" class="form-control" type="text" placeholder="Quincena gobierno">
                            </div>
                            <div class="pt-2">
                                <label for="qnasep">
                                    <span title="informacion">ℹ️</span> Quincena SEP <span class="text-danger">*</span>
                                </label>
                                <input name="qnasep" class="form-control" type="text" placeholder="Quincena SEP">
                            </div>
                            <div class="pt-2">
                                <label for="perfil">
                                    <span title="informacion">ℹ️</span> Perfil <span class="text-danger">*</span>
                                </label>
                                <input name="perfil" class="form-control" type="text" placeholder="Perfil">
                            </div>
                            <div class="pt-2">
                                <label for="nss">
                                    <span title="informacion">ℹ️</span> NSS <span class="text-danger">*</span>
                                </label>
                                <input name="nss" class="form-control" type="text" placeholder="NSS">
                            </div>

                            <div class="pt-2">
                                <label for="catRegimenId">
                                    <span title="informacion">ℹ️</span> Regimen <span class="text-danger">*</span>
                                </label>
                                <select name="catRegimenId" class="form-select">
                                    <option value="">-- Selecciona --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="pt-2">
                                <label for="catTipoContratacionId">
                                    <span title="informacion">ℹ️</span> Tipo contratación <span class="text-danger">*</span>
                                </label>
                                <select name="catTipoContratacionId" class="form-select">
                                    <option value="">-- Selecciona --</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="pt-2">
                                <label for="nivelAcademicoId">
                                    <span title="informacion">ℹ️</span> Nivel academico <span class="text-danger">*</span>
                                </label>
                                <input name="nivelAcademicoId" class="form-control" type="text" placeholder="Nivel academico">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="paso2" role="tabpanel" aria-labelledby="paso2-tab">
                Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio
                omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil
                recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
            </div>
            <div class="tab-pane fade" id="paso3" role="tabpanel" aria-labelledby="paso3-tab">
                Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis cumque. Accusantium quibusdam
                perspiciatis qui qui omnis magnam. Officiis accusamus impedit molestias nostrum veniam. Qui amet ipsum
                iure. Dignissimos fuga tempore dolor.
            </div>
        </div><!-- End Default Tabs -->

    </div>
</div>